@import "../../../styles/variables/variables";
.order {
  padding: 15px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto 15px;
  min-width: 90%;
  min-height: fit-content;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
  0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    margin: 0 auto 7px;
  }
}

.descr{
  margin: 0;
  max-width: 260px;
  font-size: 13px;
  line-height: 15px;
  color : #889098;
}
.descrItem{
  margin-bottom: 6px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.strong{
  color: $main-black;
}

.info{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  @media screen  and (max-width: 768px) {
    grid-template-columns: repeat(2,1fr);
    gap:10px
  }
}

.infoBlock{
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: center;
}

.imgBox{
  width: 150px;
  height: 100px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  justify-self: center;
  @media screen  and (max-width: 768px) {
    width: 110px;
    height: 70px;
  }
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.infoTitle{
  font-weight: 300;
  color:$main-dark-grey;
  @media screen  and (max-width: 768px) {
    font-size: 12px;
  }
}
.infoValue{
  color: $main-dark-blue;
  font-weight: 500;
  @media screen  and (max-width: 768px) {
    font-weight: 400;
  }
}
