@import "../../../../styles/variables/variables";
@import "../../../../styles/mixins/mixins";
.addForm{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.input{
  padding: 5px;
  border: 1px solid $main-dark-grey;
  border-radius: 6px;
  outline: none;
  color: $main-dark-blue;
}

.button{
  @include hover-opacity;
  box-sizing: border-box;
  color: white;
  font-size: 11px;
  line-height: 13px;
  width: 95px;
  background: $main-blue;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 15px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 75px;
  }
  @media screen and (min-width: 0) and (max-width: 767px) {
    width: 45px;
    padding: 5px 10px;
    line-height: 11px;
  }
}
